<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sensor.mapper.PhmAcquisitionChannelMapper">
    <select id="selectScopedList"
            parameterType="com.ruoyi.sensor.domain.query.PhmAcquisitionChannelQuery"
            resultType="com.ruoyi.sensor.domain.entity.PhmAcquisitionChannelEntity">
        SELECT c.*
        FROM phm_acquisition_channel c
        INNER JOIN phm_device d ON d.id = c.device_id
        WHERE 1 = 1
        <if test="deviceId != null">AND c.device_id = #{deviceId}</if>
        <if test="pointId != null">AND c.point_id = #{pointId}</if>
        <if test="scopeUserId != null">
            AND EXISTS (
                SELECT 1 FROM sys_user_device ud
                WHERE ud.user_id = #{scopeUserId} AND ud.device_id = c.device_id
            )
        </if>
        ORDER BY c.device_id ASC, c.channel_no ASC
    </select>
</mapper>
